@model LoginDto
<link href="~/css/login.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/img/user-icon.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" asp-controller="Auth" asp-action="Login">
            <input type="text" id="login" class="fadeIn second" placeholder="E-poçt"  asp-for="@Model.Email">
            <input type="text" id="password" class="fadeIn third"  placeholder="password" asp-for="@Model.Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#"><p>Forgot Password?</p></a>
        </div>

        <!-- Register -->
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Auth" asp-action="Register"><p>Register</p></a>
        </div>
    </div>
</div>